.container {
    padding: 45px 85px 45px 85px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.start {
    flex: 1;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.video {
    height: min-content;
    border: 1px solid var(--white);
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

#video {
    max-height: 600px;
}

.control {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.control-btn {
    width: 60px;
    height: 60px;
}

.control-btn.muted {
    background-color: var(--red);
    color: var(--light-gray);
}

.start-btn {
    height: 60px;
    width: 253px;
    border-radius: 40px;
}

.control-btn:hover,
.start-btn:hover,
.link-btn:hover {
    filter: brightness(120%);
}

.control-btn:active,
.start-btn:active,
.link-btn:active {
    filter: brightness(90%);
}

.control-btn-oval {
    width: 90px;
    height: 60px;
    border-radius: 40px;
}

.link-btn {
    border-radius: 40px;
    padding: 18px 30px;
}

.error-text {
    color: var(--red);
    font-size: 48px;
}
